# eclipse related files
.settings/
.classpath
.project

# bin files
target/
*.class

# package files
*.jar
*.war
*.ear
*.zip

# log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# project input/output files
*.owl
*.csv
